.row
  .col-3
  .col
    %h1.text-center
      Menus
  .col-3.text-right.m-3
    = link_to 'Add New Menu', new_menu_path, class: 'btn btn-success'
  

.container
  %ul.list-group
    = render @menus
  .row.justify-content-center.mt-3
    = will_paginate @menus