%li.list-group-item
  .row
    .col-sm-auto
      = link_to avatar_for(user, version: :small_thumb), user
    .col-sm
      = link_to user.name, user
    .col-sm-auto
      = link_to 'Orders', orders_for_user_path(user), class: 'btn btn-secondary'
  %br