%li.list-group-item
  .row
    .col
      %h5 Order ##{order.id}
    .col-auto
      = link_to 'Details', order_path(order), class: 'btn btn-secondary'
  .row
    .col
      = link_to order.user.name, user_path(order.user)
    .col-auto
      Created #{order.created_at.to_date}