.row
  .col
    %h1.text-center.mb-3
      -if @user.present?
        #{@user.name}
      Orders
    -if current_user.admin?
      = render 'orders/date_search'
    

.container
  -if @orders.any?
    %ul.list-group
      = render @orders
    .row.justify-content-center.mt-3
      = will_paginate @orders
  -else
    %h3.text-center
      No orders for now.