-if @category.present?
  %h5.text-center
    = render partial: '/categories/category', locals: { category: @category }

.container
  .row.mb-3
    .col-3
    .col
      %h1.text-center
        Victuals
    .col-3.text-right.mt-3
      -if current_user.admin?
        = link_to 'Add New', new_victual_path, class: 'btn btn-success'

-unless @victuals.empty?
  .container
    = render @victuals
    .row.justify-content-center.mt-3
      = will_paginate @victuals
-else 
  %h4.text-center
    No victuals of this category for now